[Unit]
Description=autosocks connection (:%I -> %J)

StopWhenUnneeded=true

[Service]
Type=simple
Environment=AUTOSOCKS_IP=127.255.255.254
ExecStart=-ssh -NT -o "ControlPath=~/.ssh/autosocks-%%C" -o "ExitOnForwardFailure=yes" -D "${AUTOSOCKS_IP}:%I" "%J"
ExecStartPost=/bin/sleep 2
