[Unit]
Description=autosocks proxy (:%I -> %J)

BindsTo=autosocks-%j@%i.socket
After=autosocks-%j@%i.socket

BindsTo=autosocks-connection-%j@%i.service
After=autosocks-connection-%j@%i.service

[Service]
Environment=AUTOSOCKS_IP=127.255.255.254
Environment=AUTOSOCKS_IDLE_TIME=1m
ExecStart=/lib/systemd/systemd-socket-proxyd --exit-idle-time="${AUTOSOCKS_IDLE_TIME}" "${AUTOSOCKS_IP}:%I"
